---
import Sakuras from '../components/Sakuras.astro'
import Introduction from '../components/Introduction.astro'
import ILove from '../components/ILove.astro'
import Experience from '../components/Experience.astro'
import SideProjects from '../components/SideProjects.astro'
import RunningCat from '../components/RunningCat.astro'
import Footer from '../components/Footer.astro'
import CurrentDateTime from '../components/CurrentDateTime.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Pufferbommy | Panyawat Kaedpol</title>
		<meta name="description" content="A frontend developer who loves crafting simple, responsive, and interactive websites, with fundamental skills in HTML, CSS, and JavaScript."/>
		<meta name="author" content="Panyawat Kaedpol"/>
		<meta name="keyword" content="Pufferbommy, Panyawat Kaedpol, Panyawat, Kaedpol, ปัญญวัฒน์ เกิดผล, ปัญญวัฒน์, เกิดผล, บอม, Bom, front-end"/>
		<meta name="google-site-verification" content="UHP1qwdIyIpWbr9C27aBwg1c_hC_PUDUV1R9fwKpvhY" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://unpkg.com/lenis@1.3.1/dist/lenis.css">
	</head>
	<body>
		<Sakuras />
		<CurrentDateTime />
		<div class="container-wrapper">
			<main class="container">
				<Introduction />
				<ILove />
				<Experience />
				<SideProjects />
			</main>
		</div>
		<RunningCat />
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		--text-sm: 0.75rem;
		--text-base: 1rem;
		--text-lg: 1.25rem;
		--text-xl: 1.5rem;

		--color-background: #0F1010;
		--color-foreground: #E6E9E9;
		--color-muted: #B3B9B9;
	}

	body {
		margin: 0;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: var(--text-base);
		line-height: 1.5;
		background-color: var(--color-background);
		color: var(--color-foreground);
	}

	img {
		max-width: 100%;
		width: 100%;
		border-radius: 0.5rem;
		transition: border-radius 4000ms;
	}

	.container-wrapper {
		padding-inline: 5%;
	}

	.container {
		max-width: 40rem;
		width: 100%;
		margin-inline: auto;
	}

	a {
		text-decoration: none;
	}

	main {
		padding-block: 8rem;
		display: grid;
		gap: 4rem;
	}

	h1 {
		font-size: var(--text-xl);
		font-weight: 600;
	}

	h1, h2, h3, p {
		margin: 0;
	}

	h2, h3 {
		font-weight: 500;
	}

	h2 {
		font-size: var(--text-lg);
	}

	h3 {
		font-size: var(--text-base);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	article {
		display: flex;
		flex-direction: column;
		align-items: start;
	}

	article > header > h3 {
		margin-right: auto;
	}

	article > header {
		display: flex;
		width: 100%;
		align-items: center;
		gap: 1rem;
	}

	article > p, article > time, a, article > ul {
		color: var(--color-muted);
	}

	article > ul {
		list-style: square;
		list-style-position: inside;
		padding-left: 0;
		margin: 0;
	}

	li::before {
    content: '';
  	margin-left: -0.5rem;
	}

	a:has(svg) {
		filter: grayscale(1) contrast(0.75);
		transition: filter 125ms, transform 125ms;
	}

	a:has(svg):first-child {
		transform: rotate(-10deg);
	}

	a:has(svg):nth-child(2) {
		transform: rotate(-5deg);
	}

	a:has(svg):nth-child(3) {
		transform: rotate(5deg);
	}

	a:has(svg):hover {
		filter: grayscale(0);
		transform: rotate(0);
	}

	.medium-zoom-overlay {
		background-color: var(--color-background) !important;
	}

	.medium-zoom-overlay,
	.medium-zoom-image--opened {
		z-index: 999;
	}

	.medium-zoom-image--opened {
		border-radius: 0;
	}
</style>

<script>
	import mediumZoom from 'medium-zoom'	
	import Lenis from 'lenis'

	// Initialize Lenis for smooth scrolling
	new Lenis({
		autoRaf: true,
	});

	mediumZoom("img");
</script>