---
import 'nes.css/css/nes.min.css'
import '@fontsource/press-start-2p';

import '../styles/global.css'
import '../styles/normalize.css'
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Pufferbommy Page</title>
	</head>
	<body>
		<Header />
		<div class="main-wrapper">
      <main class="container">
				<slot />
			</main>
		</div>
		<Footer />
	</body>
</html>